<ion-tabs >
  <ion-tab-bar slot="bottom">


  <ion-tab-button tab="my-matches" >
    <ion-icon name="game-controller-outline"></ion-icon>
  <ion-label>My Matches</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="gametype-listing" routerLink='/tabs'>
    <ion-label>Home</ion-label>
  <ion-icon name="home-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="my-wallet">
    <ion-label>Wallet</ion-label>
  <ion-icon name="wallet-outline"></ion-icon>
  </ion-tab-button>

  </ion-tab-bar>
 </ion-tabs>
