<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" ></ion-menu-button>
      </ion-buttons>
    <ion-title color="primary">
     Eliminator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <super-tabs >
    <super-tabs-toolbar slot="top" color="secondary">
      <super-tab-button>
        <ion-label color="primary">UpComing</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-label color="primary">OnGoing</ion-label>
      </super-tab-button>
      <super-tab-button>

        <ion-label color="primary">Result</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        <ion-content>
          <app-upcoming [name]="name"></app-upcoming>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
        <app-ongoing [name]="name"></app-ongoing>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
        <app-result [name]="name"></app-result>
        </ion-content>
      </super-tab>
    </super-tabs-container>
  </super-tabs>

</ion-content>
